.menu{
  
}
.menu a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
․menu a:hover{
    color: burlywood;
} 

.menu {
	
    text-align: center;
    display: inline-block;
   
   
}

 .menu a {
	display: inline-block;
	margin-left: 60px;
    position: relative;
    text-decoration: none;
}

 .menu  a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
	line-height: 42px;
}

 .menu  a.active:after {
	opacity: 1;
}

 .menu  a:hover:after {
	opacity: 1;
}

 .menu  a:after {
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #1e1e1e;
	content: "";
	opacity: 0;
	-webkit-transform: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

 .menu a:hover{
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}
