body{
 
}
.flex{
  width: 90%;
  height: auto;
  display: flex;
  margin: 150px auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
  align-content: flex-start;

}

.root{
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 10px;
  border:1px solid #eee;
  flex-basis: 20%;
  height: auto;
  box-shadow: 0px 2px 2px #ccc;
  padding: 20px;
  transform: scale(1);

}
.root img{
  width: 250px;
  height: 250px;
  transition: all 1s;
}
.root:hover span.binIcon{
  bottom: 75px;
  right: 0;
}
span.binIcon{
  position: absolute;
  right: -45px;
  bottom: 35px;
  padding: 8px;
  background-color:#1B97F7;
  border-radius: 7px 0px 0px 7px;
  transition: all 0.5s;
}
span.binIcon i{
  color:#f2f2f2;
  font-size: 25px;
  transition: all 1s;
}
span.binIcon:hover i{
  color: #333
}
.root:hover img{
  
  transform: scale(1.1);
}
.pFooter{
    display: flex;
    height: 10vh;
    justify-content: space-between;

}
.pFooter p {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-variant:small-caps;
    color: grey;
}