
  
  .creditcard {
      background-color: teal;
    width: 480px;
    height: 300px;
    font-family: "Arial", sans-serif;  
    border: 1px solid rgba(0,0,0,0.3);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  
  }
  
  .top_card {
    width: 480px;
    height: 100px;
    background-color: #018ffd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #d7eefe;
  }
  
  .bottom_card {
    height: 200px;
    width: 480px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    position: absolute;
  }
  
  .payment {
    margin-left: 25px;
    margin-top: 30px;
    position: absolute;
    font-size: 20px;
  }
  
  .visa {
    float: right;
    margin-right: 30px;
    margin-top: 32px;
    font-size: 40px;
  }
  
  .card_holder_element {
    width: 210px;
    float: left;
    margin-left: 30px;
  }
  
  .card_number_element {
    width: 240px;
    float: right;
  }
  
  .row_1_grey {
    color: grey;
    margin-bottom: 5px;
  }
  
  .textbox1 {
    border: 1px solid #bababa;
    border-radius: 3px;
   
    font-weight: bold;
    width: 160px;
    max-height: 18px;
  }
  
  .textbox2,
  .textbox3 {
    border: 1px solid #bababa;
    border-radius: 3px;
    
    font-weight: bold;
    width: 100px;
    max-height: 18px;
    margin-bottom: 20px;
  }
  
  .textbox3 {
    width: 80px;
    margin-left: 7px;
  }
  
  .expiry_date_element {
    width: 110px;
    float: left;
    margin-left: 30px;
  }
  
  .cvv_element {
    width: 110px;
    float: left;
    margin-left: 21px;
  }
  
  .row_2_grey {
    color: grey;
    margin-bottom: 5px;
  }
  
  .creditcard select {
    -webkit-appearance: none;
    font: 14px 'Arial', sans-serif;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-color: #bababa;
    width: 110px;
    padding: 12px;
    border-radius: 3px;
    background: #FFFFFF url('https://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
  }